@{
    ViewData["Title"] = "About Us";
}
<style>
    body{
    @*no-repeat center fixed; background-size: cover;*@
    background-image: url(https://th.bing.com/th?id=OIP.hYzf-stki3prf98JFxYRVQHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
    }
  </style>
<body>

     <h1>Adventure, Feminism, <br />
         Power. Full on Warrior</h1>
         <br/>
         <br/>
         
         <br/>
    <p>
             Not your average comic book store,<br/>
           a place where female comic lovers can find a sense of<br/>
        belonging to nourish their hunger for collectable material.
    
   </p>
   <br/>
    <br />
    
    <p>Get ready for a wild ride through the pages of our comics! <br />
        Our team of superheroes is here to entertain, inspire, <br/>
        and ignite your imagination with heart-pumping action and epic adventures. Join<br/>
        us as we explore extraordinary worlds and battle nefarious villains,<br />
        all in the name of justice and a good laugh!<br />
        <b>Get lost in a comic book fantasy.</b>
    </p>
</body>
   
