@{
    ViewData["Title"] = "Lastest News";
}
<style>
    .row {
        display: flex;
    }

    .column {
        flex: 33.33%;
        padding: 5px;
    }
</style>
<body>
    <h1>Newly released comic books</h1>
    <div class="row">
        <div class="column">
            <a href="https://www.boom-studios.com/"><img src="~/th (1).jpg" href="" alt="Snow" style="width:auto height:auto"></a>
        </div>
        <br />
        <div class="column">
            <a href="https://comicbook.com/category/dynamite-entertainment/"><img src="~/th (2).jpg" href="" alt="Forest" style="width:auto height:auto"></a>
        </div>
        <br />
        <div class="column">
            <a href="https://blog.gocollect.com/weekly-mcu-spec-fantastic-four/"> <img src="~/th.jpg" alt="Mountains" style="width:auto height:auto"></a>
        </div>
        <br />
        <div class="column">
            <a href="https://www.darkhorse.com/Blog/"><img src="~/th (3).jpg" href="" alt="Mountains" style="width:auto  height:auto"></a>
        </div>
        <br />
        <div class="column">
            <a href="https://blog.hobbydb.com/2021/02/26/hobbydb-to-add-a-complete-valiant-comics-archive/"><img src="~/th (4).jpg" href="" alt="Mountains" style="width:auto  height:auto"></a>
        </div>
        <br />
        <div class="column">
            <a href="https://www.thechapterhouse.org/blog"><img src="~/th (5).jpg" alt="Mountains" style="width:auto  height:auto"></a>
        </div>
        <br />
    </div>
</body>



